################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/web2Api/FileContentIndex/3b2960bc-a613-41b8-9472-a670f488067c.vsidx
/.vs/web2Api/FileContentIndex/6de356da-6e44-4900-bec6-94e0dc3c2c28.vsidx
/.vs/web2Api/FileContentIndex/87d398b1-c269-4a08-943a-f9c7e0407ec3.vsidx
/.vs/web2Api/FileContentIndex/9e499ff3-02e9-465b-8589-b87e2b35058f.vsidx
/.vs/web2Api/FileContentIndex/ebbba678-78a0-4b1a-aace-1704734f2702.vsidx
/.vs/web2Api/FileContentIndex/738f120f-2b37-4449-9112-090549c0ffdd.vsidx
